*{
  box-sizing: border-box;
}
html{
  --btncolor: rgb(4, 22, 82);
}
body{
  margin:0;
}

.page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width:800px;
  height:100vh;
  background-color: #F5F7FB;
  border: 5px solid rgb(226, 211, 211);
  border-radius: 10px;
  position:relative;
  margin:auto;
  padding:10px;
}

.front-page{
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 align-items: center;
 background-image:url("./backimage.png.png");
 background-size:cover;
}


.page-one {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  background-color: whitesmoke;
}
.question-container{
  padding: 10px;
  overflow: auto;
  flex-grow: .75;
}

.options {
  display: flex;
  justify-content:space-evenly;
  
}
.single-option{
padding:5px;
border:1px solid var(--btncolor);
border-radius: 10px;
color:var(--btncolor);
font-family: Verdana;
}
.question{
  font-family: Verdana;
  font-weight: 600px; 
  padding:20px;
}

.new-game-btn, .get-result-btn{
  background-color:transparent;
  color: var(--btncolor);
  font-size: large;
  letter-spacing: 10px;
  margin:20px;

}
.start-quiz-btn{
  background-color:transparent;
  color: var(--btncolor);
  font-size: xx-large;
  letter-spacing: 10px;
  
}
.quiz-heading{
  letter-spacing: 20px;
  font-family:Verdana;
  font-weight:1000;
}